--extra-index-url https://download.pytorch.org/whl/cpu

fastapi>=0.128.0
g4f>=0.4.0
openai>=1.0.0
langchain-community>=0.4.1
langchain-google-genai>=4.1.2
langchain-huggingface>=1.2.0
langchain-qdrant>=1.1.0
psutil>=7.2.1
pymongo[srv]>=4.6.0
pydantic>=2.12.5
pypdf>=6.5.0
python-dotenv>=1.0.0
python-multipart>=0.0.21
qdrant-client>=1.16.2
sentence-transformers>=5.2.0
torch>=2.9.1
uvicorn>=0.40.0